#details{

    .img{
        background: url('../../../assets/withe-tend.jpg') no-repeat center;
        background-size: cover;
        height: 450px;
        min-height: 450px;
        border-radius: 5px;
    }
    
}