#shop-info {
    .shop-info-img {
        position: absolute;
        z-index: 999;
        background: url("../../../assets/shop-info.jpg") no-repeat center;
        background-size: cover;
        width: 350px;
        height: 400px;
        border-radius: 10px;
    }

    .container-wrapper {
        background-color: rgb(26, 24, 24);
        padding: 25px;
        border-radius: 10px;

        .content {
            padding-right: 125px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            color: $primary-color;

            .texto {
                width: 400px;
            }
        }

        h1 {
            font-size: 45px;
            font-weight: 700;
            line-height: 1.2;
        }
        .autor {
            span {
                font-weight: 700;
            }
        }
    }
}
