#shop {
    p {
        color: $secondary-color;
    }

    a {
        text-decoration: none;
        appearance: none;
    }

    .content-shop {
        flex-wrap: nowrap;
    }

    .white-tent {
        background: linear-gradient(180deg, rgba(34, 34, 34, 0.22), rgba(34, 34, 34, 0.69)),
            url(../../../assets/withe-tend.jpg);
        @include back-image;
        height: 250px;
        border-radius: 5px;
        background-position: 50% 50%;

        .price {
            top: auto;
            bottom: 0;
            padding: 0px 0px 0px 10px;

            h3 {
                font-size: 24px;
                line-height: 30px;
                font-weight: 700;
            }

            p {
                color: $primary-color;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
            }
        }

        a {
            &.button {
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.5px;
                line-height: 1.5;
                background-color: $primary-color;
                border: none;
                color: $secondary-color;
                padding: 5px 20px;
                margin: 20px 10px 0px 0px;
            }
        }
    }

    .shop-menu {
        color: $secondary-color;
        width: 20%;
        padding-right: 25px;

        h5 {
            font-weight: 700;
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        .button-filter {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            background-color: transparent;
            border: 1px solid $secondary-color;
            border-radius: 5px;
            text-align: left;
            margin-bottom: 10px;
            padding: 5px 25px;
            transition: all ease 0.2s;

            &:hover {
                color: $primary-color;
                background-color: $secondary-color;
            }
            &.active {
                color: $primary-color;
                background-color: $secondary-color;
            }
        }
    }
}
