#slider {
    position: relative;
    z-index: 999;
    background: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url(../../../assets/wrapper-background.jpg);
    @include back-image;
    display: flex;
    align-content: center;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .title {
        font-size: 62px;
        line-height: 1.2;
        color: $primary-color;
    }

    h4 {
        text-align: justify;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    button {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
        padding: 5px 25px;
        border: 1px solid $primary-color;
        color: $primary-color;
        transition: all ease 0.2s;

        &:hover {
            background-color: $primary-color;
            color: #222;
        }
    }
}
